/*
Name: Eklavya SARKAR, 
ID:201135564, 
Username: u5es2
*/

@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('/static/css/FuturaHandwritten.ttf') format('truetype');
}

/* BODY */

html {
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  /* background-color: #fff2e7; */
  /*font-family: 'Roboto', sans-serif;*/
  /*font-weight: 300;*/

  background-image: url("/static/images/Net2.png");
  background-repeat: repeat;
  background-size: cover;

  background-color: #fff2e7;
  font-family: 'FuturaHandwritten';
  font-weight:normal;
  font-style:normal;
  font-size: 20px;
  margin:0;
  padding:0;
  height:100%;
  min-height: 100%;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

/* fake bold */
b, strong{
	font-weight: normal
	text-shadow:1px 0 0 currentColor;
}

/*.backNet {
  background-image: url("/static/images/Net2.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}*/

.home-container {
    margin: 0 auto;
    margin: 0 auto;
    width: 800px;
}

/* NAV */
.navbar {
	font-family: 'FuturaHandwritten';
}

/* HEADER */

.header { /*, .footer {*/
  font-family: 'FuturaHandwritten';
  color: #fff;
  background: #329894;
  overflow: hidden;
}

.header {
    padding-top: 70px;
    padding-bottom: 10px;
    top: 0;
    width: 100%;
}

.title {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.subtitle {
    font-size: 25px;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
}

/* MAIN */

.main {
	padding: 20px 0;
	font-family: 'FuturaHandwritten';
  min-height: 100%;
}

.explanation {
  text-align: center;
  padding-bottom: 20px;
}

.canvas {
  padding-top: 250px;
}

#myCanvas {
  /*display:inline-block;*/
  display: block;
  margin: auto;
  background: #ffe4ce;
  border: 1px solid #000000;
}

/*#myCanvas2 {
  display:inline-block;
  margin: auto;
  background: #ffe4ce;
  border: 1px solid #000000;
}


#particles-js { 
  background-color: #fff2e7;
  background-repeat: no-repeat;
  background-size: cover;*/
  /*background-position: 50% 50%;*/
  /*display: block;
}*/

.guide {
  text-align: center;
  padding: 20px;
}

#status {
  padding: 5px;
}

.links {
  padding: 20px;
  text-align: center;
}

/* FOOTER */ 

/*.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    font-size: 25px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
/*}

.credits {
  float: left;
  font-size: 20px;
}

.credits a {
  color: white;
}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}