/*
Name: Eklavya SARKAR, 
ID:201135564, 
Username: u5es2
*/

@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('../Fonts/Futura/FuturaHandwritten.ttf') format('truetype');
}

/* BODY */

html {
  height: 100%;
  position: relative;
  /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}

body {
  /* background-color: #fff2e7; */
  /*font-family: 'Roboto', sans-serif;*/
  /*font-weight: 300;*/

  margin:0;
  padding:0;
  height:100%;
  min-height: 100%;

  background-image: url("../images/nets/Net4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

  background-color: #fff2e7;
  font-family: 'FuturaHandwritten';
  font-weight:normal;
  font-style:normal;
  font-size: 20px;

  opacity: 1;
  transition: 1s opacity;

  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: pan-down;
}


body.fade-out {
    opacity: 0;
    transition: none;
}

/* fake bold */
b, strong{
	font-weight: normal
	text-shadow:1px 0 0 currentColor;
}

.noBackGround {
  background-image:none
}

/* D3.js */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
    stroke: none;
}

.tooltip {
    font-family: 'FuturaHandwritten';
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}

/*.backNet {
  background-image: url("/static/images/Net2.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.home-container {
  margin: 0 auto;
  margin: 0 auto;
  width: 800px;
}*/

/* NAV */
.navbar {
	font-family: 'FuturaHandwritten';
}

/* HEADER */

.header { /*, .footer {*/
  font-family: 'FuturaHandwritten';
  color: #fff;
  background: #329894;
  overflow: hidden;
}

.header {
  padding-top: 70px;
  padding-bottom: 10px;
  top: 0;
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.subtitle {
  font-size: 25px;
  font-weight: 300;
  padding: 10px 0;
  text-align: center;
}

#columns {
  display: block;
}

/* GRID */

.grid { margin:1em auto; border-collapse:collapse }

.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

/* MAIN */

.main {
	padding: 20px 0;
	font-family: 'FuturaHandwritten';
  min-height: 100%;
}

.explanation {
  text-align: center;
  padding-top: 300px;
  padding-bottom: 50px;
  font-size: 55px;
}

.explanation1 {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 300px;
  padding-bottom: 50px;
  font-size: 25px;
}

.explanation1_3 {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 150px;
  padding-bottom: 0px;
  font-size: 25px;
}

.explanation1_5 {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 75px;
  font-size: 25px;
}

.subtitles1_5 {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
}

#buttons {
  position: sticky;
}

.boxes {  
  padding-top: 200px;
  text-align: center;
}

#rgb {
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: center;
  display: block;
}

#chartContent {
  padding-top: 25px;
  text-align: center;
}

.canvas {
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 17.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#myCanvas {
  display: block;
  margin: auto;
  background: #ffe4ce;
  border: 1px solid #000000;
}

#myCanvas2 {
  display: block;
  margin: auto;
  background: #ffe4ce;
  border: 1px solid #000000;
}

.guide {
  text-align: center;
  padding: 20px;
}

#status {
  padding: 5px;
}

.links {
  padding: 20px;
  text-align: center;
}

.start {
  position: sticky;
  padding: 10px;
  text-align: center;
}

.volControl {
  position: sticky;
  padding-bottom: 50px;
  padding-right: 50px;
  text-align: right;
  border-radius: 50%;
}

#volIcon {
  cursor: pointer;
}

/* SLIDER */ 

/* The slider itself */
.slidecontainer {

  width: 100%;
}

.slider {
  display: inline;
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

/* Slider circle */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#myRange1::-webkit-slider-thumb {
  background: #FF0000;
}

#myRange2::-webkit-slider-thumb {
  background: #00FF00;
}

#myRange3::-webkit-slider-thumb {
  background: #0000FF;
}

/* FOOTER */ 

/*.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  font-size: 25px;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
/*}*/

.credits {
  font-size: 20px;
}

.credits a {
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}