<!--
Name: Eklavya SARKAR, 
ID:201135564, 
Username: u5es2
-->

<!doctype html>
<html lang="en">
	<head>
		<!-- META -->
		<meta charset="UTF-8"/>
		<meta name="author" content="Eklavya Sarkar">
		<meta name="ID" content="201135564">
		<meta name="Date" content="2018-02-25" scheme="YYYY-MM-DD">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Cloud Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	    <!-- Manual Bootstrap CSS -->
	    <!-- <link href="static/css/bootstrap/bootstrap.css" rel="stylesheet">-->

	    <!-- Main CSS -->
	    <link href="static/css/main.css" rel="stylesheet" type="text/css">

		<!-- Fonts -->
		<!--link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="static/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="static/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="static/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="static/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="static/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="static/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="static/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">

		<title>Kohonen SOM</title>
	</head>
	<body>

		<div class="fixed-top">
			<nav class="navbar fixed-top bg-success">
			  <a class="nav-item nav-link active" a style="color:white" href="/">Home</a>
			  <a class="nav-item" a style="color:white"><b>Kohonen Self-Organising Maps</b></a>
			  <a class="nav-item nav-link" a style="color:white" href="about">About</a>
			</nav>
		</div>

		    <div class="main">
				    <div class="col-lg-8 offset-lg-2">
		    			<div class="explanation1">This project was made using Bootstrap, D3.js, using Flask, Python, etc list all the design document here basically</div>
					</div>
				<!--<div id="particles-js"></div>-->
		    </div>

		    <div class="footer">
				<div class="volControl">
		  			<img class="img-circle" src="static/images/volume/shadow/1.png" id="volIcon" height="50" width="50" alt="Mute Volume" onclick="changeVol()">
				</div>
		    	<div class="fixed-bottom">
		    		<div class="credits">Made by <a href="https://github.com/EklavyaFCB">Eklavya Sarkar</a></div>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
					  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					  <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					  <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
		    </div>

		    <noscript>Your browser does not support JavaScript which is required by Bootstrap 4 for the purposes of this wep-page.</noscript>
		    <script src="static/js/draw.js" charset="UTF-8"></script>
		    <!--<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>-->
		    <!--<script src="static/js/particleConfig.js"></script>-->
		    
		    <!-- jQuery -->
    		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    		<!-- Popper.js -->
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    		<!-- Boostrap Javascript -->
    		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>